@use 'sass:map';
@use '@angular/material' as mat;
@import "src/styles/core/theme";

.navbar-header {
  background: map.get(map.get(mat.get-color-config($theme), 'primary'), 'main');
}

.absolute-center {
  left: 50%;
  transform: translateX(-50%);
}
