<app-navbar [sidenavRef]="sidenav"></app-navbar>
<mat-sidenav-container class="block">
  <mat-sidenav #sidenav class="min-w-[240px]" position="start" [mode]="getSidenavMode">
    <div class="flex flex-col h-full">
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <div class="w-full h-full flex justify-start items-center">
            <mat-icon class="mr-4 scale-150">account_circle</mat-icon>
            <div class="flex flex-col justify-center items-start">
              <span class="text-base">{{userService.get.name}}</span>
              <span class="text-sm"> {{userService.get.email}} </span>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let item of menuItems"
                         [selected]="isSidenavItemSelected(item)"
                         [value]="item.label"
                         (click)="sidenavItemClicked(item, sidenav)">
          {{item.label | translate}}
        </mat-list-option>
      </mat-selection-list>
      <div class="grow"></div>
      <div *ngIf="!isDesktopRef.value" class="flex items-center justify-between p-4">
        <app-theme-switch class="mr-4"></app-theme-switch>
        <app-lang-switch></app-lang-switch>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="overflow-y-auto">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
