.login-bg {
  background-image: url(../../../../assets/images/marvel-illustration.jpg);
}

.illustration-spacer {
  height: calc(100vw/1.77);
}

.form-container {
  background-color: rgba(0, 0, 0, .85);
}
