<mat-toolbar color="accent" class="sticky top-0 z-10">
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Back button" (click)="$location.back()">
      <mat-icon>
        {{currentLangRef.value === 'fa' ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}
      </mat-icon>
    </button>
    <span>{{'charactersList' | translate}}:</span>
    &nbsp;
    <span>{{character.name}}</span>
    <div class="grow"></div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="py-4 max-w-lg m-auto">
  <img class="w-60 h-60 rounded-full m-auto mb-4"
       [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
       [alt]="'Image of ' + character.name">
  <h1 class="text-center">{{character.name}}</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">info</mat-icon>
        &nbsp;
        {{'characterOverview' | translate}}
      </ng-template>
      <p class="p-4">
        {{character.description}}
      </p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">library_books</mat-icon>
        &nbsp;
        {{'comics' | translate}}
      </ng-template>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let comic of character.comics.items" [value]="comic.name">
          {{comic.name}}
        </mat-list-option>
      </mat-selection-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">movie</mat-icon>
        &nbsp;
        {{'movies' | translate}}
      </ng-template>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let series of character.series.items" [value]="series.name">
          {{series.name}}
        </mat-list-option>
      </mat-selection-list>
    </mat-tab>
  </mat-tab-group>
</div>
