<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Select Language Menu"
        [matTooltip]="'langSwitchTooltip' | translate">
  <mat-icon [class.text-white]="isDesktopRef.value">language</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item
          *ngFor="let lang of translate.getLangs()"
          (click)="translate.use(lang)"
          [disabled]="lang === translate.currentLang">
    <mat-icon [class.invisible]="lang !== translate.currentLang">check</mat-icon>
    <span>{{getLangTitle(lang)}}</span>
  </button>
</mat-menu>
